<div class="row">
 <div class="col-lg-8 mx-auto">
 	<p class="lead mt-5 mb-5 fw-bold text-scounddry"> you register as a now...... </p>
 	<div class="row">
 		<div class="card col-lg-4"> 
 			<div class="card-header">i want to hire </div>
 			<div class="card-body">
 				<%= link_to "register as Emoloyer", new_user_registration_path(type: "hire"), class: "btn btn-primary" %>
 			</div>
 		</div>
 		<div class="card col-lg-4 ms-3"> 
 		 <div class="card-header">i want to hire </div>
 			<div class="card-body">
 				<%= link_to "register as job Seeker", new_user_registration_path(type: "seeker"), class: "btn btn-primary" %>
 			</div>
 		</div>
 	</div>
 </div>
</div>